@model IEnumerable<Product>

<div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Game List</h2>
    <a class="btn btn-primary" asp-controller="Product" asp-action="Upsert"> <i class="bi bi-plus-circle me-1"></i>Add Product</a>
</div>



<table id="tblData" class="table table-bordered table-striped" width="100%">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Creator</th>
            <th>Category</th>
            <th>Price</th>
        </tr>
    </thead>
</table>


@section Scripts {
    <script src="~/js/Product.js"></script>
}



